{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="authentication-wrapper authentication-1 px-4">
	    <div class="authentication-inner py-5">
	
			<!-- Logo -->
			<div class="d-flex justify-content-center align-items-center">
				<div class="ui-w-120">
				  <div class="text-center" style="width: 100%">
			            {% include 'icons/logo.svg.twig' %}
				  </div>
				</div>
			</div>
			<!-- / Logo -->
		    {% if error|default(false) %}
		        <div class="alert alert-danger">
		            {{ error.messageKey|trans(error.messageData, 'security') }}
		        </div>
		    {% endif %}
	        {{ form_start(form, {'attr' : { id : 'loginform', 'class' : 'my-5' }}) }}
	        <div class="form-group">
	        	{{ form_widget(form.email) }}
	        </div>
	        {{ form_row(form.submit) }}
	        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
