{% extends 'base.html.twig' %}

{% block title %}Новая категория{% endblock %}

{% block body %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('categoraa_index') }}">Категория</a> / Создать категорию</div>
    </h4>    
              
            
<div class="card">     
    <div class="card-body">   
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.parent) }}
            {% do form.filter_all.setRendered() %}
            {% do form.filter_b.setRendered() %}
            <div style="
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;                    
                    border: 0px solid black;
                    margin-top: 10px;
                    padding: 0px;
                ">   
                    <div>
                        {{ form_widget(form.submit) }}
                    </div>
                    <div style="margin-left: 10px;">
                        <a href="{{ path('category_index') }}">
                        {{ form_widget(form.btn_cancel) }}
                        </a>
                    </div>
                </div>
        {{ form_end(form) }}
    </div> 
</div>         


               
                
   
       
{% endblock %}

