{# templates/task/new.html.twig #}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.description) }}

    <h3>Tags</h3>
    <ul class="tags">
        {% for tag in form.tags %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>
        <div class="card">
        <div class="card-body">
            {{ include('property/_form.html.twig') }}
        </div>
    </div>
{{ form_end(form) }}
{% endblock body %}

