{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Сохранить') }}</button>
    <a class="btn btn-default" href="{{ path('product_property_index') }}">Отмена</a>
{{ form_end(form) }}
