{% extends 'base.html.twig' %}

{% block title %}Новый товар{% endblock %}

{% block body %}

{{ include('product/_form.html.twig') }}






{#{{ form_start(form) }}

    <h3>Category</h3>
    <ul class="category" data-index="{{ form.category|length > 0 ? form.category|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.category.vars.prototype)|e('html_attr') }}">
        {% for cat in form.category %}
            <li>{{ form_row(cat.name) }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="category">Add a tag</button>
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">

    </h4>    
         <div class="card">
            <div class="card-body">
                {{ include('product/_form.html.twig') }}
            </div>
        </div>  
{{ form_end(form) }}#}


{# ------------ACTUAL------------------- 
{{ form_start(form) }}
------END ACTUAL----------- #}
    
    {#<ul class="product_photos" data-index="{{ form.product_photos|length > 0 ? form.product_photos|last.vars.image + 1 : 0 }}" data-prototype="{{ form_widget(form.product_photos.vars.prototype)|e('html_attr') }}">
    {% for photik in form.product_photos %}
    <li>
    {{ form_row(photik.image) }}
    </li>   
    {% endfor %}    
    </ul>#}

    {# ------------ACTUAL------------------- 
    <ul class="product_properties" data-index="{{ form.product_properties|length > 0 ? form.product_properties|last.vars.value + 1 : 0 }}" data-prototype="{{ form_widget(form.product_properties.vars.prototype)|e('html_attr') }}">
    {% for propik in form.product_properties %}
    <li>
    {{ form_row(propik.value) }}
    </li>   
    {% endfor %}    
    </ul>

    ------END ACTUAL----------- #}

{#{{ include('product/_prop_form.html.twig') }}#}
    {#<button type="button" class="add_item_link" data-collection-holder-class="product_photos">Add a categoraa</button>#}
             
            {# -------- ACTUAL -----
             <div class="card">
            <div class="card-body">
                {{ include('product/_form.html.twig') }}
            </div>
        </div>   
{{ form_end(form) }}
--------END ACTUAL ----#}



{#<script src="{{ asset('assets/vendor/js/add-collection-widget.js') }}"></script> #}
 {#<script src="{{ asset('assets/vendor/js/remove-collection-photik.js') }}"></script>#}

 {# ---- ACTUAL
 <script src="{{ asset('assets/vendor/js/add-collection-photik.js') }}"></script>
 }
  -------END ACTUAL -----#}  

{% endblock %} 










  

 