<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
                     <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/ionicons.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/linearicons.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/open-iconic.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/pe-icon-7-stroke.css') }}">
              
                     <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/bootstrap.css') }}" class="theme-settings-bootstrap-css">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/appwork.css') }}" class="theme-settings-appwork-css">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/theme-corporate.css') }}" class="theme-settings-theme-css">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/colors.css') }}" class="theme-settings-colors-css">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/uikit.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/libs/sweetalert2/sweetalert2.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/libs/swiper/swiper.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/libs/photoswipe/photoswipe.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/vendor/libs/blueimp-gallery/gallery.css') }}">
                     <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}">


        {% endblock %}

        {% block javascripts %}
                        <!-- Load polyfills -->
            <script src="{{ asset('assets/vendor/js/polyfills.js') }}"></script>
            <script>document['documentMode']===10&&document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>
            
            <script src="{{ asset('assets/vendor/js/material-ripple.js') }}"></script>
            <script src="{{ asset('assets/vendor/js/layout-helpers.js') }}"></script>
            
            <!-- Theme settings -->
            <!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section -->
            <script src="{{ asset('assets/vendor/js/theme-settings.js') }}"></script>
            
            <!-- Core scripts -->
            <script src="{{ asset('assets/vendor/js/pace.js') }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            
            <!-- Libs -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}">
            <script src="{{ asset('assets/vendor/libs/sweetalert2/sweetalert2.js') }}"></script>
            <!-- Page -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/css/pages/authentication.css') }}">

        {% endblock %}
    </head>
    <body>
        <div class="page-loader">
            <div class="bg-primary"></div>
        </div>
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-2">
            <div class="layout-inner">
                <!-- Layout sidenav -->
                {% include '_sidebar.html.twig' %}
                <!-- / Layout sidenav -->
                <!-- Layout container -->
                <div class="layout-container">
                    <!-- Layout navbar -->
                    {% if app.user %}{% include '_header.html.twig' %}{% endif %}
                    <!-- / Layout navbar -->
                    <!-- Layout content -->
                    <div class="layout-content">
                        <!-- Content -->
                        <div class="container-fluid flex-grow-1 container-p-y">
                            {% block body %}{% endblock %}
                        </div>
                        <!-- / Content -->
                        {% include '_footer.html.twig' %}
                    </div>
                    <!-- Layout content -->
                </div>
                <!-- / Layout container -->
            </div>
            <!-- Overlay -->
            <div class="layout-overlay layout-sidenav-toggle"></div>
        </div>
        <!-- / Layout wrapper -->
        <!-- Core scripts -->
        <script src="{{ asset('assets/vendor/libs/popper/popper.js') }}"></script>
        <script src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/vendor/js/sidenav.js') }}"></script>
        <!-- Libs -->
        <script src="{{ asset('assets/vendor/libs/photoswipe/photoswipe.js') }}"></script>
        <script src="{{ asset('assets/vendor/libs/blueimp-gallery/gallery.js') }}"></script>
        <script src="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
        <script src="{{ asset('assets/vendor/libs/swiper/swiper.js') }}"></script>
        <script src="{{ asset('assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
        <!-- Demo -->
        <script src="{{ asset('assets/vendor/libs/vanilla-text-mask/vanilla-text-mask.js') }}"></script>
        <script src="{{ asset('assets/js/demo.js?ggtdd') }}"></script>
        <script src="{{ asset('assets/js/ui_carousel.js') }}"></script>
        <script src="{{ asset('assets/vendor/libs/chartjs/chartjs.js') }}"></script>
    </body>
</html>
