{% extends 'base.html.twig' %}

{% block title %}Пользователь #{{ user.id }}{% endblock %}

{% block body %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('user_index') }}">Пользователи</a> / Пользователь #{{ user.id }}</div>
    </h4>

	<div class="card">
		<div class="card-body">
		    <table class="table">
		        <tbody>
		            <tr>
		                <th>Id</th>
		                <td>{{ user.id }}</td>
		            </tr>
		            <tr>
		                <th>Email</th>
		                <td>{{ user.email }}</td>
		            </tr>
		            <tr>
		                <th>ФИО</th>
		                <td>{{ user.fio }}</td>
		            </tr>
		            <tr>
		                <th>Активен</th>
		                <td>{% if user.isActive %}<span class="badge badge-outline-success">Активен</span>{% else %}<span class="badge badge-outline-danger">Деактивирован</span>{% endif %}</td>
		            </tr>
		            <tr>
		                <th>Роли</th>
		                <td>
		                    {% include 'user/_groups.html.twig' %}
		                </td>
		            </tr>
		            <tr>
		                <th>Создан</th>
		                <td>{{ user.createdAt ? user.createdAt|date('d.m.Y H:i:s') : '' }}</td>
		            </tr>
		            <tr>
		                <th>Изменен</th>
		                <td>{{ user.updatedAt ? user.updatedAt|date('d.m.Y H:i:s') : '' }}</td>
		            </tr>
		        </tbody>
		    </table>

			<a class="btn btn-success" href="{{ path('user_edit', {'id': user.id}) }}">Изменить</a>
			<a class="btn btn-danger" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fa fa-times"></i> Удалить</a>
			<a class="btn btn-default" href="{{ path('user_index') }}">Отмена</a>
		</div>
	</div>
{% endblock %}
